body {background-color: #1B1414;}

/*flexbox*/
.container{
  display: flex;  
}

.p1{
  color: #FFF;
font-family: Khula;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.484px;
}

.titre1{
  color: #FFF;
font-family: Khula;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.484px;
}


.p2{
  color: #FFF;
font-family: Khula;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.484px;
}

.p3{
  color: #FFF;
font-family: Khula;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.484px;
}

.p4{
  color: #FFF;
font-family: Khula;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.484px;
}

.p5{
  color: #FFF;
font-family: Khula;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.484px;
}

.p6{
  color: #FFF;
font-family: Khula;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 33px */
letter-spacing: -0.484px;
}

.titre2{
  color: #FFF;
font-family: Khula;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 33px */
letter-spacing: -0.484px;
}

.indentification1{
  color: #FFF;
font-family: Khula;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 33px */
letter-spacing: -0.484px;
}

.oceane{
  color: #FFF;
font-family: Khula;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 33px */
letter-spacing: -0.484px;
}

.identification2{
  color: #FFF;
font-family: Khula;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 33px */
letter-spacing: -0.484px;
}

.marie{
  color: #FFF;
font-family: Khula;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 33px */
letter-spacing: -0.484px;
}
/* Barre de navigation*/
.container{
  height: 100px;
  width: 1900px;
 background-color: #9B3012;
  display: flex;
  }
  
  .button1{
    width: 100px;
    height: 30px;
    background-color: #f0e3e3;
    color: #ffffff;

    font-size: 13px;
    text-align: center;
    padding: 10px;
    margin: 20px;
  
  }

  .button2{
    width: 100px;
    height: 30px;
    background-color:  #f0e3e3;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    margin: 20px;
  
  }

  .button3{
    width: 100px;
    height: 30px;
    background-color: #f0e3e3;
    color: #FFF;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    margin: 20px;
  
  }

  .button4{
    width: 100px;
    height: 30px;
    background-color:  #f0e3e3;
    color: #FFF;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    margin: 20px;
  
  }




  .elementelementone{
    width: 600px;

  }

  .elementelementtwo{
    display: flex;
    gap: 2rem;

  }

  .elementelementtwo{
    width: 1000px;
  }