
/*flexbox*/
.container{
  height: 100px;
  width: 1900px;
 background-color: #9B3012;
  display: flex;
  }
  
  .button1{
    width: 100px;
    height: 30px;
    background-color: #f0e3e3;
    color: #ffffff;

    font-size: 13px;
    text-align: center;
    padding: 10px;
    margin: 20px;
  
  }

  .button2{
    width: 100px;
    height: 30px;
    background-color:  #f0e3e3;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    margin: 20px;
  
  }

  .button3{
    width: 100px;
    height: 30px;
    background-color: #f0e3e3;
    color: #FFF;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    margin: 20px;
  
  }

  .button4{
    width: 100px;
    height: 30px;
    background-color:  #1B1414;
    color: #FFF; 
    font-size: 13px;
    text-align: center;
    padding: 10px;
    margin: 20px;
  
  }


  .elementelementone{
    width: 600px;

  }

  .elementelementtwo{
    display: flex;
    gap: 2rem;
    width: 1000px;

  }

 

  
  body {background-color: #1B1414;}

  .h1{
    color: #FFF;
  }
  .blanc1{
    align-items:center;
    width: 500px;
    height:3px;
    border: 0 none;
    margin-right: auto;
    margin-left: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #FFF;
    filter: blur(1px);
  }

.blanc2{
  align-items:center;
  width: 500px;
  height:3px;
  border: 0 none;
  margin-right: auto;
  margin-left: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #FFF;
  filter: blur(1px);
}

.blanc3{
  align-items:center;
  width: 500px;
  height:3px;
  border: 0 none;
  margin-right: auto;
  margin-left: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #FFF;
  filter: blur(1px);
}
.blanc4{
  align-items:center;
  width: 500px;
  height:3px;
  border: 0 none;
  margin-right: auto;
  margin-left: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #FFF;
  filter: blur(1px);
}
   

 
  
    
  .element1{
    color: #FFF;
  }

  .element2{
    color: #FFF;
  }

  .h1{
    color: #FFF;
    font-family: Inknut Antiqua;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 54px */
    letter-spacing: -0.792px;
  }
      
  

.element5{
  color: #FFF;
font-family: Khula;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: -0.352px;
}

.element6{
  color: #FFF;
}

.element7{
  color: #FFF;

}

.element8{
  color: #FFF;

}

.element9{
  color: #FFF;
}

.element10{
  color: #FFF;
}

.element11{
  color: #FFF;

}

/* Barre de navigation*/
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9B3012;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* cahnge couleur quand passe la souris et garder la couleur sur la page sélectionnée*/
li a:hover:not(.active) {
  background-color: #1B1414;
}   

.active{
  background-color: #1B1414;
}