
/*flexbox*/
.container{
    display: flex;
    justify-content: center; 
    justify-content: space-evenly; 
  }
   

  /*flexbox*/
.container2{
  display: flex;
  justify-content: center;
  justify-content: space-evenly; 
}

  /*flexbox*/
  .container3{
<<<<<<< Updated upstream
    display: flex;  
  }

  .h1{
    color: #FFF;
    font-family: Inknut Antiqua;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 54px */
    letter-spacing: -0.792px;
  }

  
=======
    display: flex;
    justify-content: center;
    justify-content: space-evenly;  
  }

   /*flexbox*/
   .container4{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;  
  }
>>>>>>> Stashed changes
