
/*flexbox*/
.container{
    display: flex;  
  }

  /*flexbox*/
.container2{
  display: flex; 
}

  /*flexbox*/
  .container3{
    display: flex;  
  }

  .h1{
    color: #FFF;
    font-family: Inknut Antiqua;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 54px */
    letter-spacing: -0.792px;
  }

  